*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

            /* MENU */

.nav-list li a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.nav-list li a:hover{
    opacity: 0.7;
    text-decoration: overline 1px orange;
}




.logo img{
    width: 150px;
    margin-left: 50%;
}
.logo img:hover{
    opacity: 0.7;
    transition: .2s;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2f2d48;
    height: 70px;
}

.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    margin: 20px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}


.nav-list.active {
    transform: translateX(0);
}



.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line1 {
    opacity: 0;
}
.mobile-menu.active .line1 {
    transform: rotate(45deg) translate(-5px, -7px);
}



                /* --------------------- */


/* imagem por enquanto só modelo, futuramente colocar um carousel */
.divpai{
    margin-top: 5rem;
    width: 70%;

    margin-left: auto;
    margin-right: auto;
}

/* .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
} */



/* parte do ganhador */
.ul {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
ul div div h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 100;
}

ul .div1 div{
    display: grid;
}

ul .div1{
    display: -webkit-inline-box;
    justify-content: center;
    margin: 50px;
}

.ul{
    margin-bottom: 15rem;
}

ul div img{
    text-decoration: none;
    /* height: 200px; */
    width: 250px;
    border: 20px solid #1abd81;
}
ul div h1{
    margin-left: 9rem;
    color: #1abd81;
}


/* rodapé do site */

footer .footerdiv{
    background-color: #2f2d48;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div .footerImg{
    width: 80px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
footer aside img{
    width: 200px;
}

footer .divh2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}






/* responsividade */ 

@media only screen and (max-width: 955px) {

     nav{
        background-color: #2f2d48;
        display: -webkit-flex;

    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    section a{
        margin-left: 50%;        
    }


} 



@media only screen and (max-width: 1090px){


    ul .div1{
        margin: 20px;
    }
}

@media only screen and (max-width: 959px){
    ul .div1{
        margin: 5px;
    }
}

@media only screen and (max-width: 917px){
    ul .div1 div img{
        margin: 10px;
        width: 200px;
    }
}

@media only screen and (max-width: 786px) and (min-width: 644px){
    .ul .div1 div img{
        width: 150px;
    }
}

@media only screen and (max-width: 640px) and (min-width: 466px){
    .ul .div1 div img{
        width: 100px;
        border: #1abd81 solid 10px;

    }
}

@media only screen and (max-width: 464px){
    .ul{
        display: grid;
    }
}

@media only screen and (max-width: 484px) and (min-width: 100px){
    main {
        display: grid;
    }
    main aside img{
        width: 95%;
    }
    main aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 761px){
    .img{
        width: 90%;
    }
}

@media only screen and (max-width: 460px){
    nav ul li{
        font-size: 12px;
    }
}
@media (max-width: 999px) {

    body{
        overflow-x: hidden;
    }

    header {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
    }
    header nav {
        display: flex;
    }
    nav{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
    }

    nav div{
        margin-top: -40px;
    }

    .nav-list {
        position: absolute;
        top: 13vh;
        right: 0;
        width: 100vw;
        height: 10vh;
        background: #2f2d48;
        flex-direction: row;

        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
        margin-left: 80%;
        margin-bottom: 40px;


    }

    .logo{
        margin-top: 40px;
    }
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width: 409px) {

    header nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
}

@media (max-width: 950px){
    header nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
}
@media (max-width: 20000px) and (min-width: 323px){
    .logo img{
        width: 150px;

    }
}
@media (max-width:323px) {
    .logo img{
        width: 150px;
        margin-left: -0px;
    }
}
